<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.extra.dao.HomeDao">

    <select id="selectCompanyFormUUID" resultType="com.extra.model.CompanyInformationBean">
        SELECT  * FROM park_company
        WHERE UUID = #{uuid}
    </select>


    <select id="selectDeviceList" resultType="com.extra.model.DeviceBean">
        SELECT  * from park_device WHERE  company = #{companyUUID}
    </select>
    <select id="selectDeviceBySn" resultType="com.extra.model.DeviceBean">
        SELECT  * from park_device WHERE  company = #{companyUUID} AND  sn =#{sn}
    </select>

</mapper>