<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.extra.dao.MemberDao">

    <select id="selectMemberList" resultType="com.extra.model.MemberBean">
        SELECT  * FROM park_member
        WHERE companyUuid = #{companyUUID} AND  is_del =1
    </select>

    <select id="selectMemberDelList" resultType="com.extra.model.MemberBean">
        SELECT  * FROM park_member
        WHERE companyUuid = #{companyUUID} AND  is_del =0
    </select>


    <select id="selectMemberFromLPM" resultType="com.extra.model.MemberBean">
        SELECT  * FROM park_member
        WHERE companyUuid = #{companyUUID} AND  is_del =1 AND  lpm =#{lpm}
    </select>
   <select id="selectMemberDelFromLPM" resultType="com.extra.model.MemberBean">
        SELECT  * FROM park_member
        WHERE companyUuid = #{companyUUID} AND  is_del =0 AND  lpm =#{lpm}
    </select>


    <select id="selectMemberFromUuid" resultType="com.extra.model.MemberBean">
        SELECT  * FROM park_member
        WHERE uuid = #{uuid}
    </select>
    <select id="loadMemberFromCardId" resultType="com.extra.model.MemberBean">
        SELECT  * FROM park_member
        WHERE cardId = #{uuid}
    </select>

    <insert id="insertMember" parameterType="com.extra.model.MemberBean">
    <selectKey  keyProperty="id" resultType="java.lang.Long" order="AFTER">
        SELECT  LAST_INSERT_ID()
    </selectKey>
        INSERT  INTO park_member(name,sex,phone,email,uuid,cardId,createTime,companyUuid,addManagerUuid,lpm)
        VALUES (#{name},#{sex},#{phone},#{email},#{uuid},#{cardId},#{createTime},#{companyUuid},#{addManagerUuid},#{lpm})
    </insert>



    <update id="updateMember" parameterType="java.lang.String" >
        UPDATE park_member SET  cardId = "0" WHERE cardId =#{uuid}
    </update>

</mapper>