<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.extra.dao.UserDao">
    <resultMap id="ManagerBaseMap" type="com.extra.model.ManagerBean">
        <id column="ID" property="id" jdbcType="BIGINT"/>
        <result column="USER_NAME" property="userName" jdbcType="VARCHAR"/>
        <result column="USER_PHONE" property="userPhone" jdbcType="VARCHAR"/>
        <result column="USER_EMAIL" property="userEmail" jdbcType="VARCHAR"/>
        <result column="UUID" property="UUID" jdbcType="VARCHAR"/>
        <result column="companyUUID" property="companyUUID" jdbcType="VARCHAR"/>
        <result column="number" property="number" jdbcType="VARCHAR"/>
        <result column="parkingUuid" property="parkingUuid" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectManagerBySignIn" resultMap="ManagerBaseMap">
        SELECT  ID,USER_NAME,USER_PHONE,USER_EMAIL,UUID ,companyUUID,number,parkingUuid FROM park_manager
        WHERE (USER_NAME = #{username} OR USER_EMAIL = #{username})
        AND  USER_PWD = #{pwd} AND IS_DELETE=1
    </select>

</mapper>